[Unit]
Description=MATLAB FlexLM license manager

[Service]
User=matlab
RemainAfterExit=True
ExecStart=/usr/local/MATLAB/R2018a/etc/lmstart
ExecStop=/usr/local/MATLAB/R2018a/etc/lmdown

[Install]
WantedBy=multi-user.target
